@{
	ViewData["Title"] = "Gallery";
}

<!-- Start Breadcrumb
    ============================================= -->
<div class="breadcrumb-area bg-cover shadow dark text-center text-light" style="background-image: url('@Url.Content("~/img/2440x1578.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Food Gallery</h1>
                <ul class="breadcrumb">
                    <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Food Gallery
============================================= -->
<div class="gallery-style-two-area default-padding">
    <div class="container">
        <div class="row">
            <div class="gallery-content-items">
                <div id="gallery-masonary" class="gallery-items gallery-style-two colums-3">
                    <!-- Single Item -->
                    <div class="gallery-item">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="~/img/556x1010.jpg" class="popup-gallery">
                                    <img src="~/img/556x1010.jpg" alt="Image Not Found">
                                    <div class="overlay">
                                        <span>Minion Drinks</span>
                                        <h4>Cold Lemon Juice</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="gallery-item">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="~/img/800x600.jpg" class="popup-gallery">
                                    <img src="~/img/800x600.jpg" alt="Image Not Found">
                                    <div class="overlay">
                                        <span>Grill Chicken</span>
                                        <h4>Chicken Sandwich</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="gallery-item">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="~/img/salmon.jpg" class="popup-gallery">
                                    <img src="~/img/salmon.jpg" alt="Image Not Found">
                                    <div class="overlay">
                                        <span>Cheesy Favourite</span>
                                        <h4>Salmon Steak</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="gallery-item">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="~/img/800x800.jpg" class="popup-gallery">
                                    <img src="~/img/800x800.jpg" alt="Image Not Found">
                                    <div class="overlay">
                                        <span>Cheesy Favourite</span>
                                        <h4>Crispy Crust Pizzeria</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="gallery-item">
                        <div class="gallery-style-one">
                            <div class="item">
                                <a href="~/img/chickensand.jpg" class="popup-gallery">
                                    <img src="~/img/chickensand.jpg" alt="Image Not Found">
                                    <div class="overlay">
                                        <span>Grill Chicken</span>
                                        <h4>Chicken Sandwich</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Food Gallery -->
